h1{
    color: rgb(232, 230, 229);
    height: 10px;
    text-align: center;
}
li{
    display: flex;
    color: rgb(246, 241, 241);
    font-weight: bolder;
    font-size: larger;
}
.high-priority {
    color: red;
  }
  
  .medium-priority {
    color: yellow;
  }
  
  .low-priority {
    color: green;
  }
  ul 
 .packlist ul {

  border-radius: 50px;
  opacity: 0.9;
  }
